html/
html.zip/
wp-admin/
wp-includes/
wp-content/index.php
wp-content/uploads/
.htaccess
license.txt
wp-trackback.php
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
xmlrpc.php
wp-content/themes/twentynineteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentytwenty/
wp-content/themes/index.php
wp-content/plugins/index.php
wp-content/plugins/hello.php
wp-content/plugins/akismet/
wp-content/plugins/elementor/
wp-content/plugins/contact-form-7/
wp-content/plugins/meta-box/
wp-content/plugins/post-duplicator/
wp-content/plugins/redux-framework/
wp-content/plugins/debug-bar/
wp-content/plugins/wordpress-importer/
wp-content/plugins/ti-woocommerce-wishlist/
wp-content/plugins/regenerate-thumbnails/
wp-content/plugins/envato-theme-check-master/
wp-content/plugins/woocommerce/
wp-content/plugins/monster-widget/
wp-content/plugins/post-duplicator/
